*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timkiem > h2 {
    font-family: segoe ui light;
    font-size: 30px;
    margin-top: 15px;
}

.timkiem {
    text-align: center;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    font-family: segoe ui light;
}

header > nav {
    width: 100%;
    height: fit-content;
}

section > h1 {
    text-align: center;
    margin-top: 80px;
}

header> nav > ul > li > a {
    background-color: lightblue;
    color: black;
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    margin: auto;
}

header> nav > ul > li > a:hover {
    text-decoration: none;
    color: gray;
}

nav > ul > li {display: inline;}

header {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

header > nav > ul {
    display: inline;
    line-height: 50px;
}

.content ul {
    list-style: none;
}

.content img {
    width: 100%;
}

.content > ul > li {
    float: left;
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.content {
    width: 1170px;
    margin: auto;
    height: auto;
}