*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa.fa-heart.icon3 {
    position: absolute;
    color: #484545;
    bottom: -5%;
    right: 10%;
    transition: 0.4s;
}

.anh:hover .fa.fa-heart.icon3 {
    bottom: 5%;
    transition-delay: 0.3s;
}

.fa.fa-eye.icon2 {
    position: absolute;
    color: #484545;
    bottom: -5%;
    right: 20%;
    transition: 0.4s;
    /* transition-delay: 0.2s; */
}

.anh:hover .fa.fa-eye.icon2 {
    bottom: 5%;
    transition-delay: 0.2s;
}

.fa.fa-paperclip.icon1 {
    position: absolute;
    color: #484545;
    bottom: -6%;
    right: 30%;
    transition: 0.4s;
}

.anh:hover .fa.fa-paperclip.icon1 {
    bottom: 5%;
    transition-delay: 0.1s;
}

.chunho {
    position: absolute;
    bottom: -7%;
    color: #484646;
    left: 3%;
    font-size: 20px;
    font-weight: 400;
    transition: 0.4s;
    /* transition-delay: 0.1s; */
}

.anh:hover .chunho {
    bottom: 3%;
    /* transition: 0.4s; */
    /* transition-delay: 0.1s; */
}

.trang {
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: gainsboro;
    transition: 0.4s;
    /* visibility: hidden; */
}

.anh:hover .trang {
    bottom: 0;
    /* visibility: hidden; */
    /* visibility: visible; */
}

.chu {
    position: absolute;
    color: white;
    text-align: center;
    width: 80%;
    font-size: 17px;
    top: 40%;
    left: 10%;
    font-weight: 200;
    transition: 0.4s;
    opacity: 0;
}

.anh:hover .chu {
    top: 30%;
    opacity: 1;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.anh {
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
