/* *{
    margin: o;
    padding: 0;
} */

.menu-top ul li a{
    text-decoration: none;
    color: white;
    font-family: segoe ui light;
    font-size: 13px;
    text-transform: uppercase;
    /* border-left: 0.1px solid white;
    padding-right: 20px;
    padding-left: 20px; */
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    transition: 0.4s;
}

ul.menu{
    list-style: none;
    /* display: flex; */

    width: 900px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

.menu-top ul li{
    display: inline;
}

.menu-top{
    background-color: rgb(76, 76, 163);
    height: 29.3px;
    width: 100%;
}

.menu-top ul.menu li a:hover{
    background-color: rgb(194, 107, 107);
    /* padding-top: 3px;
    padding-bottom: 9px; */
    color: green;
}