h1{
    width: 550px;
    margin-left: 470px;
    margin-top: 50px;
    font-family: Arial;
    font-size: 33px;
}
img{
    margin-left: 385px;
    width: 740px;
}
h3{
    margin-top: 10px;
    margin-left: 650px;
    font-size: 25px;
}
hr{
    margin-top: 0px;
}
ul{
    margin-left: 400px;
}