.content{
    margin:auto;
    display: flex;
    justify-content: space-between;
    width: 1560px;
    flex-wrap: wrap;
}

.product{
    position: relative;
    width: 500px;
    height:690px;
    font-family: segoe ui light;
    font-size: 15px;
    color: #414141;
    margin-bottom: 20px;
}
.product .so1{
    width: 100%;
}
.product .so2{
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
    opacity: 0;
}
.product:hover .so2{
    opacity: 1;
}
.product .layer3{
    /* position: absolute;
    bottom: 40px; */
    margin-top: 15px ;
    display: flex;
    width: 100%;
}
a{    text-decoration: none;
}
.product .layer3 .left{
    width: 50%;
}
.product .layer3 .right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.product .layer4{
    position: absolute;
    transition: 0.5s;
    bottom: 1px;
    left:0;
}
.product:hover .layer4{
    opacity: 0;
}
.product .layer5{
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    bottom: 1px;
    left:0;
    
}
.product:hover .layer5{
    opacity: 1;
    border-bottom: 1px solid black;
    /* transform: ; */
}
