*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
._1item{
    position: relative;
    height: 40px;
    background-color: orange;
    line-height: 40px;
}
._1item a{
    text-decoration: none;
}
._1item .layer2{
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
}

._1item:hover .layer2{
    visibility: visible;
    opacity: 1;
}

._1item .layer2 ul{}
._1item .layer2 ul li{}
._1item .layer2 ul li a{}