*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.khoilayer {
    margin-bottom: 60px;
    background: #f9fafb;
}

.khoilayer .card.text-left {
    border-radius: 0;
}

.khoilayer .col-sm-4 {
    padding: 0;
    cursor: pointer;
}

.khoilayer .anh i {
    position: absolute;
    font-size: 40px;
    color: white;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
    transition: 0.4s;
}

.khoilayer .card.text-left:hover .anh i {
    opacity: 0.8;
}

.khoilayer .anh{
    width: 100%;
    height: 200px;
    /* background-image: url(images/1.jpg); */
    background-size: cover;
    position: relative;
    background-repeat: none;
}

.khoilayer .col-sm-4:nth-child(1) .anh{
    background-image: url(images/1.jpg);
}
.khoilayer .col-sm-4:nth-child(2) .anh{
    background-image: url(images/2.jpg);
}
.khoilayer .col-sm-4:nth-child(3) .anh{
    background-image: url(images/3.jpg);
}
.khoilayer .col-sm-4:nth-child(4) .anh{
    background-image: url(images/4.jpg);
}
.khoilayer .col-sm-4:nth-child(5) .anh{
    background-image: url(images/5.jpg);
}
.khoilayer .col-sm-4:nth-child(6) .anh{
    background-image: url(images/6.jpg);
}

.khoilayer .anh:before {content: "";width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: black;opacity: 0;transition: 0.4s;}

.khoilayer .card.text-left:hover .anh:before {
    opacity: 1;
}

.khoilayer p.card-text i {
    margin-left: 12px;
    transition: 0s;
}

.khoilayer p.card-text {
    color: #a1b1bc;
    font-size: 16px;
    line-height: 24px;
    transition: 0.4s;
}

.khoilayer .card.text-left:hover p.card-text, .khoilayer .card.text-left:hover p.card-text i {
    color: white;
    transition: 0.4s;
}

.khoilayer h4.card-title {
    font-size: 14px;
    line-height: 24px;
    font-family: lato-b;
    color: #2c3e50;
    margin-bottom: 0;
    transition: 0.4s;
}

.khoilayer .card-body {
    display: flex;
    margin-top: -1px;
    justify-content: space-between;
}

.khoilayer .card.text-left:hover .card-body {
    background: #a1b1bc;
}

.khoilayer .card.text-left:hover h4.card-title {
    color: white;
}

.khoilayer h3.display-3 {
    margin: 60px 0px 30px 0px;
}

.nut {
    float: right;
}

.slidebanner a.btn.btn-secondary.nutmua {
    font-family: lato-black;
    font-size: 16px;
    line-height: 50px;
    color: white;
    padding: 7px 50px;
    background-color: #1a1c27;
    margin-top: 30px;
}

.nutslide a.carousel-control-prev {
    width: 50px;
    height: 50px;
    background: #222533;
    top: 425px;
    left: 50px;
}

.nutslide .carousel-control-next {
    width: 50px;
    height: 50px;
    background: #222533;
    top: 425px;
    right: 50px;
}

.slidebanner h3.display-3 {
    font-family: lato-black;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #1a1c27;
    position: relative;
}

.slidebanner h3.display-3:after {content: "";width: 40%;height: 3px;background: black;display: block;position: absolute;/* top: 110%; */bottom: -20px;left: 0;}

.slidebanner h3.display-3:before {
    content: "";
    width: 15%;
    height: 3px;
    background: #00f3ff;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 1;
}

.slidebanner h5 {
    font-family: lato;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #222533;
}

ul.list1 {
    list-style: none;
    margin-top: 40px;
}

ul.list1 li i.fas {
    color: black;
    margin-right: 20px;
    background: white;
    border: 5px solid white;
    border-radius: 50%;
    font-size: 15px;
}

ul.list1 li {
    font-family: lato-b;
    font-size: 24px;
    line-height: 50px;
}

.slidebanner .carousel-caption.d-none.d-md-block {
    bottom: 20%;
    text-align: left;
    color: black;
}

.slidebanner .carousel-inner {
    height: 100%;
}

.slidebanner .carousel-inner .carousel-item {
    height: 100%;
}

@font-face{
    src: url(font/Lato-Black.ttf);
    font-family: lato-black;
}
@font-face{
    src: url(font/Lato-Bold.ttf);
    font-family: lato-b;
}
@font-face{
    src: url(font/Lato-Regular.ttf);
    font-family: lato;
}
.top-header{
    border-top: 5px solid #0787d4;
    background: #21c2f8;
}
.iconsocial a{
    color: white;
    display: inline-block;
    padding: 0 8px;
}
.iconsocial{
    padding-top: 13px;
}
.nut .btn-outline-secondary, .nut .btn-secondary{
    font-family: lato-b;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    line-height: 19px;
    padding: 8px 13px;
    border: 1px solid white;
    border-radius: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nut .btn-secondary{
    color: #a1b1bc;
    background: white;
}
.mtrenphai li.nav-item a.nav-link{
    font-family: lato;
    font-size: 14px;
    text-transform: uppercase;
    color: #2c3e50;
    padding: 40px 20px 45px 20px;
    border-top:  5px solid transparent;
}
.mtrenphai li.nav-item.iconmenu a.nav-link{
    color: #a1babc;
    font-size: 29px;
    padding: 25px 11px;
}
.mtrenphai li.nav-item.active a.nav-link{
    color: #1abc9c;
    border-color: #1abc9c;
}
.mtren{
    padding: 0;
}
#slide01{
    height: 900px;
}
.menutren .mtren1{padding-top: 0;margin: 0;}
@media (max-width: 576px){
    .nut{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .iconsocial{
        text-align: center;
    }
    .mtrenphai li.nav-item a.nav-link{
        padding: 10px 10px;
    }
    .mtrenphai li.nav-item.iconmenu a.nav-link{
        display:none;
    }
    .nutslide{
        display: none;
    }
}