*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: fixed;
    top: 0px;
}
nav.menu > ul > li > a {
    color: #adb5bd;
    text-decoration: none;
    background-color: transparent;
}

nav.menu > ul > li > a:hover {
    text-decoration: none;
    color: #dae0e5;
}

li {
    margin: 10px 30px;
}

nav.menu > ul {
    display: flex;
    list-style: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.home{
    width: 100%;
    height: 750px;
    background-image: url(image/1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.content1.text-center, .content2.text-center,.content3.text-center,.content4.text-center,.content5.text-center {
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 > h2,.content2 > h2,.content3 > h2,.content4 > h2,.content5 > h2 {
    font-size: 25px;
    width: 50%;
    color: #827b7b;
}

.chapter1,.chapter2,.chapter3,.chapter4,.chapter5{
    background-size: cover;
    width: 100%;
    height: 750px;
    background-image: url(image/2.jpg);
    background-attachment: fixed;
}
h2.chuto {color: white;font-size: 300px;margin: 30px 30px;}
button.top{
    opacity: 0.5;
    position: fixed;
    bottom: 50px;
    right: 0px;
}
.xanh{
    background-color: white;
}