*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li.xanh {
    background-color: white;
    border: 1px solid lightblue;
}

li {
    /* padding: 10px; */
    margin: 10px;
    background: gray;
    border-radius: 50%;
    padding: 0px 7px;
    text-indent: -999px;
    font-size: 10px;
    border: 1px solid white;
    cursor: pointer;
    /* transition: 0.4s; */
}

ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 48%;
    display: flex;
}

.next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 50px;
    opacity: 0.5;
    cursor: pointer;
    color: white;
}

.prev {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 50px;
    opacity: 0.5;
    cursor: pointer;
    color: white;
}

.prev:hover, .next:hover {
    opacity: 0.8;
}


img {
    width: 100%;
    height: 100%;
}

._1slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
._1slide.active{
    opacity: 1;
    visibility: visible;
}

.anhslide {
    width: 100%;
    height: 100%;
    position: relative;
    background: violet;
    perspective: 1000px;
}

header.apple {
    width: 100%;
    height: 700px;
    position: relative;
}
/* viet cho hieu ung */
._1slide.ra-trai{
    animation: ra-trai 1s forwards;
    transform-origin: 0% 0%;
}
@keyframes ra-trai{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(50deg);}
}
._1slide.vao-phai{
    animation: vao-phai 1s forwards;
    transform-origin: 0% 0%;
}
@keyframes vao-phai {
    0%{transform: translateX(100%); opacity: 1; visibility: hidden;}
    100%{transform: translateX(0%); opacity: 1; visibility: visible;}
}





._1slide.vao-trai{
    animation: vao-trai 1s forwards;
}
@keyframes vao-trai{
    0%{transform: translateX(-100%);opacity: 0; visibility: hidden;}
    100%{transform: translateX(0%); opacity: 1; visibility: visible;}
}
._1slide.ra-phai{
    animation: ra-phai 1s forwards;
}
@keyframes ra-phai {
    0%{transform: translateX(0%); opacity: 1; visibility: visible;}
    100%{transform: translateX(100%); opacity: 0; visibility: hidden;}
}