*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button.nutdong {
    border: none;
    background-color: #771f1f;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    margin-left: 35%;
}

h3 {
    text-align: center;
}

.nd {
    color: white;
    font-family: segoe ui light;
    visibility: hidden;
    width: 30%;
    /* position: fixed;
    top: 35%;    
    left: 38%; */
    background-color: #b92b2b;
    
    border-radius: 12px;
    padding: 20px 20px;
    transition: 0.4s;
    opacity: 0;
    margin: auto;
    transform: rotate(180deg);
}

.bond{
    position: fixed;
    top:40%;    
    left: 0;
    perspective: 900px;
    width: 100%;
    z-index: 2;
    /* visibility: hidden; */
}

.nd.a{
    visibility: visible;
    opacity: 1;
    transform: scale(1.3) rotate(0deg);
}


.nen {
    background-color: #0000006e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-weight: 100%;
    height: 100%;
    transition: 0.4s;
    visibility: hidden;
}
.nen.k{
    visibility: visible;
}

button.nut {
    background-color: #b11f1f;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
}

button.nut:hover {
    background-color: #9a3030;
}

.right {
    width: 45%;
    float: left;
}

.left {
    width: 50%;
    float: left;
    color: white;
    margin-right: 5%;
}

.content {
    width: 70%;
    margin: auto;
    font-family: segoe ui light;
    font-size: 21px;
}

.title {
    color: #403d3d;
    /* margin: auto; */
    padding: 10px 20px;
    /* width: 50%; */
    text-align: center;
    font-family: segoe ui light;
}
.to.g{
    transform: scale(0.8);
}
.to{
    width: 100%;
    height: 760px;
    /* margin: auto; */
    background-color: lightcoral;
    transition: 0.4s;
}
body {
    background-color: #c14646;
    /* perspective: 500px; */
}
@media (max-width: 768px){
    .content{
        font-size: 13px;
    }
    button.nut{
        font-size: 10px;
        padding: 10px 10px;
    }
    .nd{
        width: 60%;
        font-size: 13px;
    }
    button.nutdong{
        padding: 10px 10px;
    }
}