*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noidung ul li {
    margin-right: 20px;
}

.noidung ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.content{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 200px;
}

.content ul li{
    list-style: none;
    float: left;
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.content ul li img{
    width: 100%;
}