*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#contact {
    height: 480px;
}
body, html{
    width: 100%;
    height: 100%;
}
.more > button.btn.btn-secondary {
    padding: 10px 30px;
    font-weight: 700;
    margin-bottom: 100px;
}

.more > button.btn.btn-light {
    padding: 10px 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 100px;
}

.more > h2 {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.nen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3c90ab;
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
}
.item1:hover img{
    transform: scale(0.7);
}
.item1:hover .nen{
   opacity: 0.8;
   transform: scale(0.7);
}
.item1 > p {
    font-size: 15px;
    position: absolute;
    bottom: 20%;
    left: 20%;
    z-index: 2;
}

.item1 > h4 {
    font-size: 15px;
    position: absolute;
    bottom: 30%;
    left: 20%;
    z-index: 2;
}

.list-item > a {
    color: white;
    width: 50%;
}

.list-item > a:hover {
    text-decoration: none;
    color: white;
}

.list-item {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.body-por > h2 {
    font-size: 50px;
    font-weight: 700;
}

.body-por > h4 {
    font-size: 15px;
    color: orange;
    margin-bottom: 0;
}

.body-por {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 150px;
}

.more {
    width: 100%;
    height: fit-content;
    background-color: #067caf;
    color: white;
    /* padding: 100px 0px 100px 0px; */
}

.body-normal > .con > button.btn.btn-info {
    font-size: 15px;
    padding: 15px 30px;
}

.con > h1.display-4 {
    font-weight: 500;
    margin-bottom: 50px;
}

.con {
    margin: auto;
    width: 30%;
}

.body-offer > .list-img p {
    font-weight: 400;
    color: #c3bdbd;
}

.body-offer > .list-img h3 {
    font-size: 20px;
    margin-top: 10%;
}

.img-1 {
    width: 21%;
}

.icon-list {
    width: 50%;
    background-color: white;
    padding: 40px 40px;
    color: #067caf;
    border-radius: 50%;
    font-size: 40px;
}

.list-img {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.body-offer > h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 5%;
}

.body-offer > h4 {
    color: orange;
    font-size: 15px;
    margin-bottom: 0;
}

.body-offer {
    width: 100%;
    height: 500px;
    background-color: #067caf;
    color: white;
    text-align: center;
    padding-top: 5%;
}


.background{
    background-image: url(image/1.jpg);
    width: 100%;
    height: 760px;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
}
.khoi {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.khoi > .display-2 > strong {
    font-weight: 900;
}
button.btn.btn-info {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
}
.khoi > h3 {
    margin-bottom: 50px;
}
.nutmo > .icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: #00000046;
    padding: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: 0.4s;
}

.nutmo > .icon:hover {
    background-color: #000000;
}
.nutmo > .icon.fa.fa-bars.mat{
    display: none;
}
.nutmo > .icon.fa.fa-window-close{
    display: none;
}
.nutmo > .icon.hien.fa.fa-window-close{
    display: block;
}
.menu > .nd-menu {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2988a7;
    color: white;
    margin-right: -20%;
    transition: 0.4s;
    z-index: 9;
}
.nd-menu.dichuyen{
    margin-right: 0;
}

.nd-menu > h3 {
    padding: 20px 20px;
    background-color: #226880;
    margin-bottom: 0;
}
ul.list-unstyle{
    list-style: none;
}
.nd-menu > ul > li {
    padding: 10px 20px;
    cursor: pointer;
}
.nd-menu > ul > li:hover {
    background-color: lightblue;
}

a.a {
    color: white;
    font-size: 15px;
}

.nd-menu > ul > li:hover > a.a {
    text-decoration: none;
    color: white;
}

.body-home {
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 5%;
}

.body-home > button.btn.btn-secondary {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
}
.body-home > p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 5%;
}
.body-home > h3 {
    font-size: 30px;
}
.body-normal{
    background-image: url(image/2.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    text-align: center;
    display: flex;
    background-attachment: fixed;
}
.item1{
    width: 100%;
    height: 350px;
    position: relative;
}
.body-contact{
    width: 100%;
    height: fit-content;
}
.body-contact1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}
.body-contact1  .icon-list{
    width: 10%;
    text-align: center;
}
.body-contact1 a:hover{
    text-decoration: none;
}


.footer{
    text-align: center;
    color: gray;
    font-size: 13px;
}
.backtotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    background-color: #00000046;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 11;
    transition: 0.4s;
}