*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a.btn.btn-outline-secondary.nutxem:hover {
    color: gray;
    background: white;
}

a.btn.btn-outline-secondary.nutxem {
    border: 3px solid white;
}

ul.right{
    margin-left: 50%;
}
.chuamenu{
    position: fixed;
    top: 0;
    z-index: 100;
}
@media (max-width: 575px){
    .container.text-left > b{
        font-size: 5px;
    }
    .container.text-left > h1{
        font-size: 15px;
    }
    .container.text-left > a{
        font-size: 5px;
    }
    .navbar-brand > img{
        width: 100px;
    }

}