*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all a {
    color: white;
}

.all > ul {
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 12px 0px 0px 15px;
    background-color: #676767;
    list-style: none;
}

.all > ul > li {
    width: 9%;
    float: left;
}

.row.menucon.bienhinh {
    background-color: #585858a1;
    height: 60px;
}
.row.menucon.biendoi {
    transform-origin: 50%;
    transform: scale(0.7);
    background-color: #717171;
}

.row.menucon1{
    background-color: #75757500;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 1540px;
    /* transition: 0.4s; */
    display: none;
    opacity: 0;
}
.row{
    transform-origin: 0% 0%;
    transition: 0.4s;
}

.row.menucon1.xuathien{
    opacity: 1;
    display: block;
    margin-top: 10px;
}
.row.menucon1.xuathien .all{
    perspective: 5000px;
    background: gray;
    width: 70%;
    padding: 0;
    margin: auto;
}
.row.menucon1.xuathien .all ul{
    animation: quay 10s forwards;
    transform-origin: 0% 0%;
}

@keyframes quay{
    0%{transform: rotateX(-90deg);}
    100%{transform: rotateX(0deg);}
}

.row.menucon.bienhinh1{
    transform-origin: 0% 0%;
    transform: rotateX(90deg);
}
@keyframes bienhinh1{
    0%{opacity: 1; transform: rotateX(0deg);}
    100%{transform-origin: 0% 100%; opacity: 0; display: none; transform: rotateX(90deg);}
}



.text {
    width: 1170px;
    margin: auto;
    font-size: 20px;
    font-family: segoe ui light;
    line-height: 40px;
}

.background {
    width: 100%;
    height: 700px;
    background-size: cover;
    background: url(img/11.jpeg);
}

.mtrai a {
    font-size: 17px;
    color: white;
    font-family: segoe ui light;
    transition: 0.4s;
    font-weight: 500;
    transition: 0.4s;
}

.row.menucon.bienhinh .mtrai a {
    font-size: 15px;
}

.mtrai a:hover, .all > ul > li > a:hover {
    text-decoration: none;
    color: white;
}

.mtrai li {
    width: 25%;
    float: left;
    color: white;
    padding: 20px 0 0 0;
    transition: 0.4s;
}

.row.menucon.bienhinh .mtrai li {
    padding: 15px 0 0 0px;
}

.col-7.mtrai {
    text-align: center;
}

.mtrai > ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.col-5.mphai {
    text-align: center;
    font-size: 30px;
    color: orange;
    padding: 10px 0 0 0;
    transition: 0.4s;
}

.row.menucon.bienhinh .col-5.mphai {
    font-size: 23px;
}

.row.menucon {
    margin-left: 1px;
    background-color: #58585800;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s;
    perspective: 1000px;
}

.container-fluid.menu {
    padding: 0;
}