*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i.fa.fa-angle-down {display: none; font-size: 30px;padding: 3px 20px; transition: 0.4s;}
.small-block h3:hover i.fa.fa-angle-down {display: inline; }
i.fa.fa-angle-up {display: none; font-size: 30px;padding: 3px 20px;transition: 0.4s;}
.small-block h3 {
    color: #7979de;
    background-color: #bdc3c7;
    border: 1px solid #848688;
    border-radius: 10px;
    padding: 10px 10px;
    FONT-WEIGHT: 200;
}

.container {
    margin: auto;
    text-align: center;
}

body {
    font-family: segoe ui light;
}

.content {
    padding: 10px 20px;
    background-color: #ecf0f1;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
}

.hieuung {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}
.small-block h3.xanh{
    background-color: teal;
}

.small-block h3.xanh:hover{
    background-color: teal;
}
.small-block h3.xanh i.fa.fa-angle-up{
    display: inline;
    opacity: 0;
}

.small-block h3.xanh:hover i.fa.fa-angle-up {
    opacity: 1;
}
.small-block h3.xanh:hover i.fa.fa-angle-down{
    display: none;
}
