*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nut-pre span.carousel-control-prev-icon:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -45%;
    background: #222533;
    width: 1px;
    height: 1px;
    padding: 20px 20px;
    z-index: -1;
}

.nut-pre span.carousel-control-prev-icon {
    position: relative;
    height: 12px;
}

.background a.btn.btn-secondary {
    font-size: 16px;
    line-height: 50px;
    font-family: lato-black;
    padding: 7px 53px;
    background-color: #1a1c27;
}

.p2.lon span:before {content: "";position: absolute;top: -1px;left: -13px;background: white;width: 40px;height: 40px;border-radius: 50%;z-index: -2;}

.p2.lon span {
    position: relative;
}

p.p2 span i.fas.fa-check {
    /* background: white; */
    /* border-radius: 50%; */
    text-align: center;
    font-size: 15px;
    color: black;
    position: relative;
    margin-right: 20px;
}

p.p2.lon span i.fas.fa-check {
    color: lightskyblue;
}

p.p2 span i.fas.fa-check:after {
    content: "";
    background: white;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #c4cedc;
    /* border: 1px solid gray; */
}

p.p2.lon span i.fas.fa-check:after {
    border: 1px solid #8080804f;
    box-shadow: none;
}

.background p.p2 {
    font-size: 24px;
    font-family: lato-b;
    line-height: 50px;
}

.background h3.h3-1 {
    font-size: 50px;
    line-height: 50px;
    font-family: lato-black;
    position: relative;
    margin-bottom: 30px;
}

.background h3.h3-1:after {content: "";background: black;position: absolute;top: 125%;left: 0;width: 55%;height: 3px;}

.background h3.h3-1:before {
    content: "";
    background: #02ffff;
    position: absolute;
    top: 125%;
    z-index: 1;
    left: 0;
    width: 18.33%;
    height: 3px;
}

.carousel-caption.d-none.d-md-block.khoi-td {
    text-align: left;
    top: 32.22%;
    color: black;
}

.background .p1 {
    font-family: lato;
    margin-bottom: 0;
    font-size: 25px;
}

.menu .col-9 .thanh-menu ul.navbar-nav li.nav-item:nth-child(1) a {
    margin-left: 20px;
    color: black;
}

.menu .col-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menu .col-1 a {
    color: gray;
    width: 50%;
    font-size: 25px;
    opacity: 0.5;
    height: 40%;
    margin-left: 10px;
}

.menu .thanh-menu {
    display: flex;
    text-transform: uppercase;
}

.menu .col-9 .thanh-menu ul.navbar-nav li.nav-item a {
    color: #2c3e50;
    font-family: lato;
    font-size: 14px;
    line-height: 13.88px;
    margin-right: 20px;
}

.menu .thanh-menu ul li:nth-child(9) a {
    margin-right: 0;
}

.menu .col-9 {
    width: 100%;
    height: 100%;
    display: flex;
}

.menu .col-2 {
    width: 100%;
    height: 100%;
}

.menu .col-2 img {
    width: 100%;
    height: 100%;
}

.menu .row {
    width: 1140px;
    height: 100%;
}

.menu .container {
    height: 100%;
    width: 100%;
}

nav.navbar.navbar-expand-sm.navbar-light {
    width: 100%;
    height: 100%;
    padding: 0;
}

.menu {
    width: 100%;
    height: 100px;
    box-shadow: 0px 1px 6px #80808059;
}

@font-face{
    src: url(font/Lato-Bold.ttf);
    font-family: lato-b;
}

@font-face{
    src: url(font/Lato-Regular.ttf);
    font-family: lato;
}

@font-face{
    src: url(font/Lato-Black.ttf);
    font-family: lato-black;
}

.top .col-2.offset-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.top .col-2.offset-7 a {
    font-size: 10px;
    padding: 2px 12px;
    font-family: lato-b;
    color: white;
    line-height: 19px;
    border-radius: 1px;
    border-color: white;
}

.top a.btn.btn-secondary {
    background-color: white;
    color: #a1b1bc;
    margin-left: 10px;
}

.top .col-3 a {
    color: white;
    font-size: 18px;
    margin-right: 7px;
}

.top .col-3 {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .row {
    height: 100%;
}

.top .container {
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
    height: 55px;
    background: #21c2f8;
    box-shadow: 0px 5px inset #0787d4;
}

.top-header {
    width: 100%;
}

html, body {
    width: 100%;
}

@media (max-width: 768px){
    .menu .col-1 a{
        display: none;
    }
}