*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.khoitt .col-sm-3 {
    padding-right: 5px;
    padding-left: 5px;
}

.khoitt {
    background: #f6f6f6;
}

.khoitt .card.text-left {
    border: none;
    border-radius: 0;
    background: white;
    border-bottom: 3px solid #eaeaea;
}

.khoitt .card-body {
    padding: 32px 63px 1.25rem 41px;
    height: 280px;
    /* border-radius: 0; */
}

.khoitt img.card-img-top {
    border-bottom: 3px solid #e05d41;
}

.khoitt p.card-text {
    color: #8f8f8f;
    font-size: 12px;
    line-height: 21px;
    font-family: mon;
}

.khoitt h4.card-title {
    color: #f26c4f;
    font-size: 16px;
    line-height: 25px;
    font-family: mon;
    text-transform: uppercase;
}

.khoitt .col-sm-2 {
    padding: 0;
}

.tdtt p {
    color: #8f8f8f;
    font-size: 12px;
    line-height: 21px;
    font-family: mon;
}

.tdtt h3 {
    color: #353c3e;
    font-size: 16px;
    font-family: mon;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.khoitt i.fas.fa-chevron-right, .khoitt i.fas.fa-chevron-left {
    float: right;
    margin-left: 5px;
    margin-bottom: 20px;
    color: #959595;
}

.khoitt i.fas.fa-chevron-right:hover, .khoitt i.fas.fa-chevron-left:hover{
    color: #555555;
}

p.tdnho {
    font-size: 12px;
    font-family: mon;
    line-height: 25px;
    color: #cccccc;
    text-align: center;
}

h2.tdto {
    font-family: mon;
    font-size: 24px;
    line-height: 45px;
    color: #777777;
    text-align: center;
}

.banner .col-sm-4.offset-4 {
    margin-top: 230px;
}

p.text3 {
    color: #959595;
    font-size: 13px;
    font-family: mon;
    line-height: 22px;
    text-align: center;
    margin-top: 28px;
}

.banner h1.text2 {
    color: #f26c4f;
}

h1.text1, h1.text2 {
    font-family: mon-b;
    font-size: 51px;
    line-height: 43px;
    text-transform: uppercase;
    color: #464646;
    text-align: center;
}

.banner{
    background: url(images/bg-nen.png) no-repeat center center #f6f6f6;
    height: 700px;
}

.menu .row {
    width: 100%;
}

.menu .navbar .collapse ul li a.nav-link {
    color: #656f72;
    text-transform: uppercase;
    font-size: 13px;
    font-family: mon;
    line-height: 25px;
    margin-right: 20px;
    padding-top: 10px;
}

.menu .navbar .collapse ul li a.nav-link:hover{
    color: white;
}

.menu .navbar .collapse ul li a.nav-link:after{
    content: "/";
}

.menu {
    width: 100%;
    height: 62px;
    background: #40494c;
    border-bottom: 3px solid #040505;
}

p.s-text {
    padding-top: 32px;
    font-style: italic;
    color: #959595;
    font-family: mon;
    font-size: 13px;
    line-height: 22px;
}

.top-header {
    width: 100%;
    background: #353c3e;
    height: 80px;
}

@font-face {
    src: url(font/Montserrat-Regular.ttf);
    font-family: mon;
}
@font-face {
    src: url(font/Montserrat-Bold.ttf);
    font-family: mon-b;
}
