*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canh-trai h3 {
    font-weight: 300;
}

.canh-trai blockquote.blockquote {
    padding-left: 10px;
    border-radius: 5px;
    background-color: #80808017;
    border-left: 3px solid #e8e8e8;
    position: relative;
}

.canh-trai blockquote.blockquote:before {content: "";display: block;width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right: 10px solid #e8e8e8;position: absolute;left: -13px;top: 25px;content: "";/* border-left: 1px solid red; *//* width: 5px; *//* height: 10px; */display: block;position: absolute;/* top: 0; *//* left: -3px; *//* transform: rotateX(84deg); */}

.noidung p{
    color: gray;
}

.noidung h2 {
    font-size: 40px;
    font-weight: 200;
}

.noidung .row{
    margin: 50px 0px;
}

.noidung .row{
    /* text-align: center; */
    width: 100%;
    height: auto;
}

a.btn.btn-secondary.nut-try:hover{
    background-color: #eb564c;
}

a.btn.btn-secondary.nut-try {
    padding: 10px 30px;
    background-color: #ec6952;
    border-color: #ec6952;
    font-weight: 700;
    transition: 0.4s;
}

a.nut-youtube {
    display: block;
    color: #adadad;
    /* margin-top: 2%; */
    width: fit-content;
    margin: 15px auto;
}

a.nut-youtube:hover {
    color: white;
    text-decoration: none;
}

.banner h2 {
    font-size: 45px;
    font-weight: 700;
}

.banner p, .noidung p{
    font-size: 15px;
    font-weight: 400;
}


.banner .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner .container {
    /* display: flex; */
    height: 100%;
    /* justify-content: center; */
    /* align-items: center; */
}
html,body{
    width: 100%;
    height: 100%;
}

/* .tieude.con p {
    font-size: 15px;
    color: #c3c3c3;
}

.tieude.con h2 {
    font-size: 50px;
    font-weight: 700;
}

.menu .canh_phai ul.thanh_menu li {
    margin-left: 50px;
    text-transform: uppercase;
}

.menu .canh_phai ul.thanh_menu li a{
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.menu .canh_phai ul.thanh_menu li a:hover{
    color: lightcoral;
}

a.logo.navbar-brand {
    background-color: #f17b7b;
    border-radius: 5px;
    margin-top: -0.5rem;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-weight: 600;
}

.canh_phai {
    justify-content: flex-end;
} */



.thanh-menu ul li{
    margin-left: 50px;
    text-transform: uppercase;
}

.mtren .thanh-menu ul.navbar-nav li.nav-item.active a {
    color: #ec6952;
}
.mtren .thanh-menu ul.navbar-nav li.nav-item a {
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.mtren.mautrang .thanh-menu ul.navbar-nav li.nav-item a {
    color: #949494;
}

.mtren.mautrang .thanh-menu ul.navbar-nav li:nth-child(1) a {
    color: black;
}

a.nav-link.btn.btn-outline-danger {
    border-color: white;
}

.mtren.mautrang .thanh-menu ul.navbar-nav li.nav-item a.nav-link.btn.btn-outline-danger {
    border: none;
    background: #ec6952;
    color: white;
}

.mtren .thanh-menu ul.navbar-nav li.nav-item a.nav-link.btn.btn-outline-danger:hover {
    border-color: #ec6952;
    background-color: #ec6952;
    color: white;
}

.mtren .thanh-menu ul.navbar-nav li.nav-item a:hover {
    color: #ec6952;
}



a.logo{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #ec6952;
    margin-top: -1rem;
    border-radius: 5px;
    /* border-bottom-left-radius: 5px; */
    transition: 0.4s;
}

.mtren.mautrang a.navbar-brand.logo {
    background: none;
    color: #ec6952;
}

.top .mtren{
    background: transparent;
}

.thanh-menu{
    justify-content: flex-end;
}

.mtren.mautrang{
    background: white;
    color: black;
    box-shadow: 0px 1px 10px #00000021;
}

.top{
    width: 100%;
    height: 100%;
    background-image: url(image/bg-header-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@media (max-width: 576px){
    a.logo{
        margin-left: 35%;
        margin-right: auto;
    }
    .thanh-menu ul li{
        margin-left: 30px;
    }
    .thanh-menu ul li:nth-child(5){
        margin: 0px 20px 15px 20px;
    }
    .thanh-menu ul{
        background-color: rgb(40, 40, 53);
    }
    a.nav-link.btn.btn-outline-danger{
        border-color: #ec6952;
        background-color:#ec6952;
    }
    .banner h2{
        font-size: 20px;
    }
    .banner p{
        font-size: 8px;
    }
    a.btn.btn-secondary.nut-try{
        font-size: 8px;
        padding: 5px 20px;
    }
    a.nut-youtube{
        font-size: 8px;
    }
}

@media (max-width: 1024px) and (min-width: 576px){
    
}